* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* write your CSS here */

body {
    background-color: #191B1D;
    font-family: Open Sans, serif;
    color: #FFFFFF;
}
#container {
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 23.4375rem);
    grid-template-rows: 6.75rem 1fr 4.5rem 38rem;
    grid-template-areas:
        ". header ."
        ". choose ."
        ". switch ."
        "starter pro enterprise";
    column-gap: 1.25rem;
    justify-content: center;
}
#header {
    grid-area: header;
    background-color: #BC1E4A;
    min-width: 26.125rem;
    min-height: 6.75rem;
    text-align: center;
    align-self: start;
    justify-self: center;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}
#header h5 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3125rem;
    margin-top: 1.5625rem;
    margin-bottom: 0.625rem;
}
#header h4 {
    font-weight: 700;
    font-size: 1.25rem;
}
#choose {
    grid-area: choose;
    font-size: 2.25rem;
    font-weight: 700;
    color: #FFFFFF;
    justify-self: center;
    align-self: center;
    margin-top: 8.6875rem;
    margin-bottom: 1.875rem;
}
#switch {
    grid-area: switch;
    font-size: 1rem;
    font-weight: 400;
    justify-self: center;
    display: flex;
    gap: 0.625rem;
    align-items: center;
    align-self: start;
}
.card {
    background-color: #22262C;
    width: 23.4375rem;
    height: 38rem;
    border-radius: 0.735rem;
    list-style-position: inside;
    justify-self: center;
    align-self: start;
    display: grid;
    grid-template-rows: 5.5625rem 4.75rem 1fr 5.5625rem;
}
#starter {
    grid-area: starter;
}
#pro {
    grid-area: pro;
}
#enterprise {
    grid-area: enterprise;
}
.title {
    font-size: 1.5625rem;
    font-weight: 600;
    margin-top: 2.3125rem;
    justify-self: center;
}
.subtitle {
    font-size: 3.5rem;
    font-weight: 700;
    justify-self: center;
}
#enterprise .subtitle {
    font-size: 2.25rem;
    margin-top: 1.375rem;
}

.subtitle span {
    font-size: 1.375rem;
    font-weight: 700;
    justify-self: center;
}
ul {
    align-self: center;
    justify-self: start;
    padding-top: 1.125rem;
}
li {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding-left: 4.375rem;
}
li span {
    position: relative;
    left: -0.5rem;
}
#pro li {
    padding-left: 2.375rem;
}
#pro ul {
    padding-top: 0.0625rem;
    transform: translateY(-4px);
}
#enterprise ul {
    margin-top: 2.5rem;
}
li::marker {
    color: #BC1E4A;
}
.btn {
    border-style: solid;
    border-width: 0.0625rem;
    padding: 0.9375rem 0.875rem ;
    width: 15.1875rem;
    margin-bottom: 2.1875rem;
    margin-left: 0.5rem;
    border-color: #BC1E4A;
    border-radius: 0.25rem;
    font-size: 1.125rem;
    font-weight: 600;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.btn:hover {
    background-color: #BC1E4A;
    color: #FFFFFF;
}
#btn {
    width: 18.5625rem;
    font-size: 1.25rem;
    font-weight: 400;
    border-style: solid;
    border-width: 0.0625rem;
    border-color: #5C6268;
    border-radius: 0.1875rem;
    padding: 1.3125rem 0 1.25rem 3rem;
    margin-top: 1.25rem;
    justify-self: center;
}
#btn span {
    margin-right: 4.875rem;
}
#users {
    font-size: 0.875rem;
    font-weight: 400;
    color: #BC1E4A;
    padding-left: 4.125rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 414px) {
    #container {
        max-width: 25.875rem;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: 6.75rem 3.0625rem 2rem repeat(3, 38.5625rem);
        grid-template-areas:
        "header"
        "choose"
        "switch"
        "starter"
        "pro"
        "enterprise";
        row-gap: 1.875rem;
    }
    #header {
        margin-left: unset;
    }
    #choose {
        margin: unset;
    }
}